@charset "UTF-8";


/*게시판리스트*/


/*게시판글쓰기*/

#boardtype
{
    height: 20px;
}

.board
{
    width: 70px;
    float: left;
    padding: 0px 0px 5px 0px;
}


#main-body ul li
{
    margin: 10px 0px 10px 0px;
  
}

#bwrite .form-group
{
    /*border: 1px solid #000000;*/
    padding: 5px 0px 5px 5px;
    height: 20px;
   
}

#bwrite input[type="radio"]
{
    width: 15px;
    height: 13px;
    margin: 0px 7px 0px 0px;
}

#bwrite input[type="checkbox"]
{
    width: 15px;
    height: 13px;
    margin: 0px 7px 0px 0px;
}

#bwrite .textarea
{
    padding: 5px 0px 0px 5px;
}

#bwrite .file
{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #a6a6a6;
}

#bwrite .btn
{
    text-align: center;
    padding: 10px 0px 0px 5px;
}

#bwrite .submit
{
    width: 60px; height: 20px;
    text-align: center;
    background-color: antiquewhite;
    border : 1px solid #a6a6a6;
    border-radius: 5px;
    cursor: pointer;
}

#bwrite .submit:hover
{
    background-color: #d9d9d9;
}

#bwrite .reset
{
    width: 60px; height: 20px;
    text-align: center;
    background-color: #ff7a7a;
    border : 1px solid #a6a6a6;
    border-radius: 5px;
    cursor: pointer;
}

#bwrite .reset:hover
{
    background-color: #f82222;
}


/*게시판보기*/

/*게시판수정*/