@charset "UTF-8";

/* 전체 공통 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr, 
textarea, button, form
{margin: 0; padding: 0;}




            ul,ol {list-style-type: none;}

            /* clearfix */
            .clearfix{*zoom:1;}
            .clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
            .clearfix:after {clear: both;}

            .f-xl {font-size: 20px;}
            .f-l {font-size: 16px;}
            .f-s {font-size: 10px;}
            .b {font-weight: bold;}


            body
            {
                font-family: "맑은 고딕",돋움,굴림;
                font-size: 12px;
            }
            
            a:link {text-decoration: none;color: #000000;}
            a:visited {text-decoration: none;color: #000000;}
            a:hover {text-decoration: none;color: #000000;}
            a:active {text-decoration: none;color: #000000;}

            /*레이아웃*/
            #wrap
            {
                width: 1000px;
                /*background-color: #ffff00;*/
                margin: 0px auto;/*auto는항상1000px이유지되면서가운데로옴*/
            }
            
            
            #header
            {
                /*margin: 10px;*/
                /*border: 1px solid #000000;
                background-color: #5555c4;*/
                border-bottom: 1px solid #a6a6a6;
            }
            #nav
            {
                /*background-color: #00ff00;*/
                border-bottom: 1px solid #a6a6a6;
            }

            /*가로1단배치*/
            #contents
            {
                /*background-color: #ff00ff;*/
                padding: 40px 20px 40px 20px;
            }
            
            /*가로2단배치*/
            #wrap #contents2
            {
                padding: 20px 0px 20px 0px;
            }
            
            /*가로2단배치 > aside*/
            #wrap #contents2 #aside
            {
                width: 180px;
                margin: 0px 10px 0px 0px;
                /*background-color: #4ca38d;*/
                float: left;
            }

            #wrap #contents2 #aside h2
            {
                background-color: #dddddd;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                padding: 20px 15px 20px 15px;
            }

            #wrap #contents2 #aside ul>li
            {
                font-size: 15px;
                border: 1px solid #a6a6a6;
                padding: 5px;
                margin: 5px 0px 0px 0px;
            }

           #wrap #contents2 #main #main-header ul>li:after{
                content: ">";
            }
            
            #wrap #contents2 #main #main-header ul>li.last:after{
                content: "";
            }

            #footer
            {
                background-color: #dddddd;
                padding: 20px 0px 20px 0px;
                text-align: center;
                
            }
            /*가로2단배치 > main */
            #wrap #contents2 #main
            {
                width: 800px;
                /*border: 1px solid #000000;*/
                float: left;
            }
            
            #wrap #contents2 #main #main-header 
            {
                margin-top: 20px;
                border-bottom: 1px solid #a6a6a6;
            }

            #wrap #contents2 #main-header h3
            {
                font-size: 20px;
                font-weight: bold;
                float: left;
            }

            #wrap #contents2 #main-header ul 
            {
                float: right;
            }

            #main-header ul li
            {
                float: left;
            }

            /*헤더상세*/

            #header>h1
                {
                float:left;
                margin: 10px 0px 10px 0px;
                }
            #header>h1>a 
                {
                font-size: 35px; 
                color: #79B30B;
                }


            #header>ul 
                {
                    margin: 30px 0px 0px 0px;
                    float:right;
                }
            
            #header>ul>li
                {
                float: left;
                margin: 0px 0px 0px 20px;
                /*border: 1px solid #000000;*/
                }
    

            /*네비영역*/
            #nav>ul
                {
                margin: 10px 0px 10px 0px;
                }


            #nav>ul>li
                {
                float: left;
                width: 248px;
                /*border: 1px solid #000000;*/
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                }
            
        
            
